@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #ccc;
  line-height: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul,
li {
  list-style: none;
}

.wrapper {
  background: #fff url("../img/bg_map.png") no-repeat center;
  background-size: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 975px;
  margin: 0 auto;
}

.header {
  border-top: 6px solid #2b2c32;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 107px;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__logo img {
  height: 57px;
}

.header__tabs {
  padding: 10px 0;
  height: 40px;
  background-color: #2b2c32;
  border-radius: 0 0 5px 5px;
  min-width: 301px;
}

.header__tabs ul {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__tabs ul li {
  background: url("../img/icon/down.svg") no-repeat right;
  border-right: 1px solid #000;
}

.header__tabs ul a {
  color: #fff;
  padding-right: 30px;
  padding-left: 11px;
}

.header__tel {
  text-align: center;
  font-size: 22px;
  color: #3d3d3d;
  padding-top: 19px;
}

.header__tel span {
  color: #f58220;
}

.search {
  background: url("../img/search_bg.png") no-repeat;
  background-size: cover;
}

.search__body {
  min-height: 241px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__servises {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px;
  font-weight: 700;
  color: #58585a;
}

.search__servises li {
  list-style-image: url("../img/search_li.png");
}

.search__servises li span {
  color: #f58220;
}

.search__form {
  width: 100%;
  min-height: 62px;
  background-color: #58585a;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 16px 28px;
}

.search__form input,
.search__form select {
  height: 31px;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.38);
          box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 9px;
  padding-left: 22px;
}

.search__place {
  width: 318px;
}

.search__data {
  width: 220px;
}

.search__guests {
  width: 231px;
}

.search__btn {
  width: 106px;
  height: 32px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.81);
  background: url("../img/search_btn.png") no-repeat 5% 50%, -webkit-gradient(linear, left bottom, left top, from(#faa61a), to(#f58220));
  background: url("../img/search_btn.png") no-repeat 5% 50%, linear-gradient(0deg, #faa61a 0%, #f58220 100%);
  border: 1px solid #f58220;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(251, 251, 252, 0.54);
          box-shadow: inset 0px 2px 0px 0px rgba(251, 251, 252, 0.54);
  cursor: pointer;
}

.search__btn:hover {
  background: url("../img/search_btn.png") no-repeat 5% 50%, -webkit-gradient(linear, left top, left bottom, from(#faa61a), to(#f58220));
  background: url("../img/search_btn.png") no-repeat 5% 50%, linear-gradient(180deg, #faa61a 0%, #f58220 100%);
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-section {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.sort__body {
  width: 100%;
  padding-bottom: 26px;
}

.sort__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px 20px 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58%;
  background-color: #58585a;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.sort__title li {
  padding-right: 75px;
  background: url("../img/icon/down.svg") no-repeat right;
}

.sort__row {
  width: 100%;
  min-height: 56px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-top: 10px solid #58585a;
  border-radius: 0 10px 10px 10px;
}

.hotels__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel__body {
  width: 223px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.hotel__title {
  height: 52px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #58585a;
  font-size: 16px;
  font-weight: 700;
  z-index: 5;
}

.hotel__sale {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 15px;
  right: -30px;
  background-image: url("../img/icon/hotel_sale.svg");
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hotel__img {
  width: 215px;
  height: 176px;
  margin: 4px;
  position: relative;
  overflow: hidden;
}

.hotel__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hotel__recommended {
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background: green;
  color: #fff;
  top: 32px;
  left: -60px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hotel__like {
  position: absolute;
  bottom: 27px;
  right: 6px;
  fill: #fff;
}

.hotel__like:hover {
  fill: red;
}

.hotel__rating {
  width: 100%;
  height: 29px;
  position: absolute;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  font-size: 13px;
  color: #fb9b44;
  background: rgba(0, 0, 0, 0.5);
}

.hotel__stars {
  display: inline-block;
}

.hotel__stars span {
  padding: 0;
  font-size: 20px;
  color: #fbc39e;
}

.hotel__stars > span:before {
  content: '★';
}

.hotel__stars > span.hotel__stars--active {
  color: #f9c658;
}

.hotel__price {
  min-width: 135px;
  height: 36px;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  margin: 13px 0;
  background-color: rgba(88, 88, 90, 0.18);
  font-weight: 500;
  text-transform: uppercase;
  color: #58585a;
}

.hotel__price span {
  font-size: 23px;
}

.hotel__description {
  font-size: 14px;
  font-style: italic;
  color: #58585a;
}

.hotel__btn {
  margin: 10px 0 17px;
  padding: 4px 6px;
  width: 144px;
  height: 47px;
  background-color: #fb9b44;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.hotel__btn a {
  display: block;
  text-align: center;
  width: 132px;
  height: 39px;
  padding-top: 6px;
  border: 3px solid #e2711f;
  font-size: 17px;
  font-weight: 700;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7);
  color: #fff;
}

.hotel__btn a:hover {
  border: 3px solid #fbc39e;
}

.filter {
  margin-top: 37px;
  width: 223px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */