//$true-bg: #3e6284; //++++++++
$true-bg: #3b4047;
//$true-bg: rgb(29, 43, 58); //or rgb(17, 29, 42)
// $true-bg: #7792ac;
//$true-bg: #9ba5c1;
//$true-bg: #f3f6f7;
//$true-bg: rgb(17, 29, 42)

$gold: #fcac45;
$dark-gold: #fda403;

$background: #e1e2e7;

$container-width: 90%;

$duration: 0.15s;
