@import 'variables';
//@import 'components/all';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #ccc;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
  }
}
ul,
li {
  list-style: none;
}

.wrapper {
  //background-color: #fff;
  background: #fff url('../img/bg_map.png') no-repeat center;
  background-size: 100%;

  //background-attachment: scroll;

  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  //padding: 0 220px;
}

.main-body {
  display: flex;
  padding-top: 45px;
  justify-content: space-between;
}

.left-section {
  flex: 0 1 75%;
}

//header

.header {
  border-top: 6px solid #2b2c32;
  &__body {
  }
  &__row {
    display: flex;
    justify-content: space-between;
    min-height: 107px;
  }
  &__logo {
    align-self: center;
    img {
      height: 57px;
    }
  }
  &__column {
  }
  &__tabs {
    padding: 10px 0;
    height: 40px;
    background-color: #2b2c32;
    border-radius: 0 0 5px 5px;
    min-width: 301px;

    ul {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      li {
        background: url('../img/icon/down.svg') no-repeat right;
        border-right: 1px solid #000;
      }

      a {
        color: #fff;
        padding-right: 30px;
        padding-left: 11px;
      }
    }
  }
  &__tel {
    text-align: center;
    font-size: 22px;
    color: #3d3d3d;
    padding-top: 19px;
    span {
      color: #f58220;
    }
  }
}
//header--END

////search
.search {
  background: url('../img/search_bg.png') no-repeat;
  background-size: cover;
  &__body {
    min-height: 241px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__servises {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 700;
    color: #58585a;
    li {
      list-style-image: url('../img/search_li.png');
      span {
        color: #f58220;
      }
    }
  }
  &__form {
    width: 100%;
    min-height: 62px;
    background-color: #58585a;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    padding: 16px 28px;
    input,
    select {
      height: 31px;
      background-color: #ffffff;
      box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.38);
      box-sizing: border-box;
      margin-right: 9px;
      padding-left: 22px;
    }
  }
  &__place {
    width: 318px;
  }
  &__data {
    width: 220px;
  }
  &__guests {
    width: 231px;
  }
  &__btn {
    width: 106px;
    height: 32px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.81);
    background: url('../img/search_btn.png') no-repeat 5% 50%,
      linear-gradient(0deg, #faa61a 0%, #f58220 100%);
    border: 1px solid #f58220;
    box-shadow: inset 0px 2px 0px 0px rgba(251, 251, 252, 0.54);
    cursor: pointer;
    &:hover {
      background: url('../img/search_btn.png') no-repeat 5% 50%,
        linear-gradient(180deg, #faa61a 0%, #f58220 100%);
    }
  }
}
////search END

//--sort

.sort {
  &__body {
    width: 100%;
    padding-bottom: 26px;
  }
  &__title {
    display: flex;
    padding: 13px 20px 0 20px;
    justify-content: space-between;
    width: 58%;
    background-color: #58585a;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    /////////////tut//////////
    & .list__body {
      width: 180px;
      padding: 10px 15px;
      position: absolute;
      left: -20px;
      z-index: 50;
      background-color: #58585a;
    }
    & summary {
      width: 160px;
    }

    & summary:before {
      //background: url('../img/icon/down.svg') no-repeat 50% 50% / 1em 1em;
    }

    li {
      position: relative;
      //width: 50%;
      // background: url('../img/icon/down.svg') no-repeat right;
    }
  }
  &__row {
    width: 100%;
    min-height: 56px;
    background-color: #f6f6f6;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top: 10px solid #58585a;
    border-radius: 0 10px 10px 10px;
  }
}

//--sort - end

.hotels {
  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.hotel {
  &__body {
    width: 223px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
  &__title {
    height: 52px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #58585a;
    font-size: 16px;
    font-weight: 700;
    z-index: 5;
  }
  &__sale {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 15px;
    right: -30px;
    background-image: url('../img/icon/hotel_sale.svg');
    transform: rotate(-45deg);
  }

  &__img {
    width: 215px;
    height: 176px;
    margin: 4px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__recommended {
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background: green;
    color: #fff;

    top: 32px;
    left: -60px;
    transform: rotate(-45deg);
  }
  &__like {
    position: absolute;
    bottom: 27px;
    right: 6px;
    fill: #fff;
    &:hover {
      fill: red;
    }
  }
  &__rating {
    width: 100%;
    height: 29px;
    position: absolute;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    font-size: 13px;
    color: #fb9b44;
    background: rgba(0, 0, 0, 0.5);
  }
  &__stars {
    display: inline-block;
    span {
      padding: 0;
      font-size: 20px;
      color: #fbc39e;
    }
    & > span:before {
      content: '★';
    }
    & > span.hotel__stars--active {
      color: #f9c658;
    }
  }

  &__price {
    min-width: 135px;
    height: 36px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    margin: 13px 0;
    background-color: rgba(#58585a, 0.18);
    font-weight: 500;
    text-transform: uppercase;
    color: #58585a;
    span {
      font-size: 23px;
    }
  }
  &__description {
    font-size: 14px;
    font-style: italic;
    color: #58585a;
  }
  &__btn {
    margin: 10px 0 17px;
    padding: 4px 6px;
    width: 144px;
    height: 47px;
    background-color: #fb9b44;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    a {
      display: block;
      text-align: center;
      width: 132px;
      height: 39px;
      padding-top: 6px;
      border: 3px solid #e2711f;
      font-size: 17px;
      font-weight: 700;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.7);
      color: #fff;
      &:hover {
        border: 3px solid #fbc39e;
      }
    }
  }
}
//---hotels--END

//---filter

.filter {
  margin-top: 37px;
  width: 223px;
  background-color: #fff;
  align-self: flex-start;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 700;
  color: #58585a;
  & > div {
    padding: 10px 18px;
    border-bottom: 1px solid #d7d7d7;
  }

  &__star {
    height: 45px;
  }
  &__guest {
    height: 45px;
  }
  &__price {
    height: 105px;
  }
  &__friendly {
  }
  &__amenities {
  }
  &__type {
  }
}

///////////////////////

.list {
  &__body {
    font-size: 13px;
    font-weight: 300;
    margin: 13px 0;
  }
  details {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  summary {
    display: block;
    position: relative;
    cursor: pointer;
  }
  summary:before {
    font-size: 25px;
    top: 0;
    right: 0.3em;
    color: transparent;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=')
      no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;
    content: '';
    position: absolute;
    transition: transform 0.5s;
  }
  details[open] > summary:before {
    transform: scale(1, -1);
  }
  // summary ~ * {
  //   //padding: 0 1em 10px 1.4em;
  // }
  details[open] summary ~ * {
    transition: all 0.5s;
    animation: sweep 0.5s ease-in-out;
  }
}

//---filter--END

.footer {
  background: url('../img/footer_bg.png');
  &__body {
    padding-top: 70px;
  }
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    width: 45%;
    a {
      font-size: 13px;
      font-weight: 400;
      color: #616161;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
    color: #2e2e2e;
    padding-bottom: 25px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li {
      width: 30%;
    }
  }
  &__language {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li {
      width: 30%;
      line-height: normal;
    }
  }
  &__powered {
    padding-top: 67px;
    padding-bottom: 50px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: #2e2e2e;
  }
  &__bg-img {
    height: 175px;
    width: 100%;
    background-image: url('../img/footer_bg_img.png');
  }

  &__bottom {
    height: 143px;
    width: 100%;
    background-image: url('../img/footer_bg_img2.png');
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__copyright {
  }
  &__socials {
  }
}
