@import 'variables';
//@import 'components/all';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #ccc;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
  }
}
ul,
li {
  list-style: none;
}

.wrapper {
  background-color: #fff;
  background-image: url('../img/bg_map.png') center;
  background-attachment: scroll;
  background-size: cover;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  //padding: 0 220px;
}

//header

.header {
  border-top: 6px solid #2b2c32;
  &__body {
  }
  &__row {
    display: flex;
    justify-content: space-between;
    min-height: 107px;
  }
  &__logo {
    align-self: center;
    img {
      height: 57px;
    }
  }
  &__column {
  }
  &__tabs {
    padding: 10px 0;
    height: 40px;
    background-color: #2b2c32;
    border-radius: 0 0 5px 5px;
    min-width: 301px;

    ul {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      li {
        background: url('../img/icon/down.svg') no-repeat right;
        border-right: 1px solid #000;
      }

      a {
        color: #fff;
        padding-right: 30px;
        padding-left: 11px;
      }
    }
  }
  &__tel {
    text-align: center;
    font-size: 22px;
    color: #3d3d3d;
    padding-top: 19px;
    span {
      color: #f58220;
    }
  }
}
//header--END

////search
.search {
  background: url('../img/search_bg.png') no-repeat;
  background-size: cover;
  &__body {
    min-height: 241px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__servises {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 700;
    color: #58585a;
    li {
      list-style-image: url('../img/search_li.png');
      span {
        color: #f58220;
      }
    }
  }
  &__form {
    width: 100%;
    min-height: 62px;
    background-color: #58585a;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    padding: 16px 28px;
    input,
    select {
      height: 31px;
      background-color: #ffffff;
      box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.38);
      box-sizing: border-box;
      margin-right: 9px;
      padding-left: 22px;
    }
  }
  &__place {
    width: 318px;
  }
  &__data {
    width: 220px;
  }
  &__guests {
    width: 231px;
  }
  &__btn {
    width: 106px;
    height: 32px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.81);
    background: url('../img/search_btn.png') no-repeat 5% 50%,
      linear-gradient(0deg, #faa61a 0%, #f58220 100%);
    border: 1px solid #f58220;
    box-shadow: inset 0px 2px 0px 0px rgba(251, 251, 252, 0.54);
    cursor: pointer;
    &:hover {
      background: url('../img/search_btn.png') no-repeat 5% 50%,
        linear-gradient(180deg, #faa61a 0%, #f58220 100%);
    }
  }
}
////search END

//--sort

.sort {
  &__body {
    width: 100%;
    margin-top: 50px;
  }
  &__title {
    display: flex;
    padding: 13px 20px 0 20px;
    justify-content: space-between;
    width: 58%;
    background-color: #58585a;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;

    li {
      padding-right: 75px;
      background: url('../img/icon/down.svg') no-repeat right;
    }
  }
  &__row {
    width: 100%;
    min-height: 56px;
    background-color: #f6f6f6;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top: 10px solid #58585a;
    border-radius: 0 10px 10px 10px;
  }
}
