@import 'variables';
//@import 'components/all';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #ccc;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
  }
}
ul,
li {
  list-style: none;
}

.wrapper {
  background-color: #fff;
  background-image: url('../img/bg_map.png') center center;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 975px;
  margin: 0 auto;
  //padding: 0 220px;
}

//header

.header {
  border-top: 6px solid #2b2c32;
  &__body {
  }
  &__row {
    display: flex;
    justify-content: space-between;
    min-height: 107px;
  }
  &__logo {
    align-self: center;
    img {
      height: 57px;
    }
  }
  &__column {
  }
  &__tabs {
    padding: 10px 0;
    height: 40px;
    background-color: #2b2c32;
    border-radius: 0 0 5px 5px;
    min-width: 301px;

    ul {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      li {
        background: url('../img/icon/down.svg') no-repeat right;
        border-right: 1px solid #000;
      }

      a {
        color: #fff;
        padding-right: 30px;
        padding-left: 11px;
      }
    }
  }
  &__tel {
    text-align: center;
    font-size: 22px;
    color: #3d3d3d;
    padding-top: 19px;
    span {
      color: #f58220;
    }
  }
}
