@import '../variables';

.about {
  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__img {
    flex-basis: 48%;
    margin: 0 auto;
    padding: 0 10px 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    flex-basis: 48%;
    margin: 0 auto;
    padding: 0 10px;
    //width: 45%;
  }
  &__small-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #636363;
  }
  &__title {
    font-size: 34px;
    text-transform: uppercase;
    padding: 20px 0;
    line-height: normal;
  }
  &__line {
    width: 99px;
    height: 5px;
    background-color: $gold;
  }
  &__description {
    padding-top: 31px;
    padding-bottom: 41px;
    font-size: 18px;
    color: #6c6c6c;
  }
  &__list {
    margin-left: 20px;
    li {
      padding-bottom: 16px;
      list-style-image: url(../img/icons/list-img2.svg);
      font-size: 18px;
      color: #5a5a5a;
      i {
        font-size: 16px;
      }
    }
  }
  &__btn {
    padding-top: (49px - 16px);
    a {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 18px 25px 18px 46px;
      color: #616161;
      border: 1px solid rgba(0, 0, 0, 0.49);
      border-radius: 5px;
      background: url(../img/icons/case.svg) no-repeat 10% center;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 1);
      }
    }
  }
}

//---About---END-----
